/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 2011-01-26
    License: none (public domain)
*/

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* Typography */

	a {
		text-decoration: none;
	}

	#primary-nav ul li a {
		color: #222;
	}

	#secondary-nav ul li a {
		color: #70757A
	}

	.material-icons {
		color: #70757A;
	}

	.divide .material-icons {
		font-size: 16px;
		line-height: 16px;
	}

/* Navigation */

	#primary-nav {
		position: fixed;
		top: 0;
		width: 100%;
		height: 50px;
	}

	#secondary-nav {
		height: 50px;
	}

	.divide {
		float: right;
	}

	li {
		display: inline-block;
	}

	li button {
		border: none;
		border-radius: 100%;
		background-color: #7F279B;
		color: #DDD;
		width: 32px;
		height: 32px;
	}

	footer {
		background-color: #EEE;
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	footer p {
		text-align: center;
	}

/* Positioning */

	li {
		padding: 0 5px 0 5px;
		margin-top: 17px;
		margin-bottom: 17px;
	}

	.divide li {
		margin: 17px 0 17px 0;
	}

	.divide li:nth-of-type(3) {
		margin: 15.5px 0 15.5px 0;
	}

	.divide li:last-of-type {
		margin: 0 0 7px 0;
	}

	li:first-of-type {
		margin-left: 15px;
	}

	.divide li:last-of-type {
		margin-right: 15px;
	}

	form {
		position: relative;
		top: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	#logo {
		width: 30%;
	}

	#search-div {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	input {
		display: block;
		width: 50%;
		height: 48px;
		margin: 20px;
		border-radius: 24px;
		border: #DDD solid 1px;
		box-shadow: 0 -2px 3px #EEE, 
					2px 0 3px #DDD, 
					0 2px 3px #CCC, 
					-2px 0 3px #DDD;
	}

	#search-div .material-icons {
		position: relative;
		top: 30px;
	}

	#search-icon {
		left: 60px;
	}

	#mic-icon {
		right: 60px;
	}

	#btn-div button {
		background-color: #f8f9fa;
		color: #3c4043;
		margin: 5px;
		border: none;
		border-radius: 3px;
		padding: 10px 15px;
		line-height: 2;
	}